.Blog__wrapper{
    background-color: white;
    width: 100%;
    padding: 0 20% ;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
.header{
    display: flex;
    justify-content: space-between;
    a{
        text-decoration: none;
        color: #00A8CC;
    }
}
.blogs ul{
    //add grid with reapeat
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    // gap: 3rem;
    // justify-content: space-between;
    li{
        list-style: none;
    }
}
.header{
    &__title{
        font-size: 22px;
    }
}